.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 300px; /* Increase width */
    height: 400px; /* Increase height */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.card:hover img {
    transform: scale(1.1);
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .description {
    opacity: 1;
}

.book-now-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

.book-now-btn:hover {
    background-color: #45a049;
}
